# =========================
# MkDocs
# =========================

site/

# =========================
# Python
# =========================

__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================

.venv/
venv/

# =========================
# RAG Original Documents
# =========================
labs/rag/enterprise_docs/pdf/*
labs/rag/enterprise_docs/pptx/*
labs/rag/enterprise_docs/xlsx/*
labs/rag/enterprise_docs/docx/*
!labs/rag/enterprise_docs/.gitkeep
!labs/rag/enterprise_docs/pdf/.gitkeep
!labs/rag/enterprise_docs/pptx/.gitkeep
!labs/rag/enterprise_docs/xlsx/.gitkeep
!labs/rag/enterprise_docs/docx/.gitkeep

# =========================
# RAG Generated Data
# =========================

labs/rag/chroma_db/*
!labs/rag/chroma_db/.gitkeep

labs/rag/extracted_text/*
!labs/rag/extracted_text/.gitkeep

labs/rag/enterprise_chunks/*
!labs/rag/enterprise_chunks/.gitkeep

# =========================
# macOS
# =========================

.DS_Store

# =========================
# VSCode
# =========================

.vscode/

# =========================
# IntelliJ
# =========================

.idea/

*.iml